<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>My Resume</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- CSS Files -->
  <link href="/Users/vishalchandru/Desktop/DATA SCIENCE/Flask Project/Private Project/MyResume/static/css/aos.css" rel="stylesheet">
  <link href="/Users/vishalchandru/Desktop/DATA SCIENCE/Flask Project/Private Project/MyResume/static/css/bootstrap.css" rel="stylesheet">
  <link href="/Users/vishalchandru/Desktop/DATA SCIENCE/Flask Project/Private Project/MyResume/static/css/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/Users/vishalchandru/Desktop/DATA SCIENCE/Flask Project/Private Project/MyResume/static/css/boxicons/css/boxicons.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="/Users/vishalchandru/Desktop/DATA SCIENCE/Flask Project/Private Project/MyResume/static/css/style.css" rel="stylesheet">
  
</head>

<body>

  <!-- ======= Mobile nav toggle button ======= -->
  <!-- <button type="button" class="mobile-nav-toggle d-xl-none"><i class="bi bi-list mobile-nav-toggle"></i></button> -->
  <i class="bi bi-list mobile-nav-toggle d-xl-none"></i>
  <!-- ======= Header ======= -->
  <header id="header" class="d-flex flex-column justify-content-center">

    <nav id="navbar" class="navbar nav-menu">
      <ul>
        <li><a href="#hero" class="nav-link scrollto active"><i class="bx bx-home"></i> <span>Home</span></a></li>
        <li><a href="#about" class="nav-link scrollto"><i class="bx bx-user"></i> <span>About</span></a></li>
        <li><a href="#objective" class="nav-link scrollto"><i class="bx bx-file-blank"></i> <span>Career Objectve</span></a></li>
        <li><a href="#qualification" class="nav-link scrollto"><i class="bx bx-book-content"></i> <span>Qualification</span></a></li>
        <li><a href="#experience" class="nav-link scrollto"><i class='bx bx-briefcase-alt-2'></i> <span>Experience</span></a></li>
        <li><a href="#projects" class="nav-link scrollto"><i class="bx bx-server"></i> <span>Projects</span></a></li>
        <li><a href="#download" class="nav-link scrollto"><i class='bx bx-download'></i><span>Download</span></a></li>
      </ul>
    </nav><!-- .nav-menu -->

  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex flex-column justify-content-center">
    <div class="container" data-aos="zoom-in" data-aos-delay="100">
      <h1>Vishal Chandru</h1>
      <p>I'm a <span class="typed" data-typed-items="Developer, Data Scientist"></span></p>
      <div class="social-links">
        <a href="https://twitter.com/vi_shal_do_it" target="_blank" class="twitter"><i class="bx bxl-twitter"></i></a>
        <a href="https://www.facebook.com/vishal.chandru.3" target="_blank" class="facebook"><i class="bx bxl-facebook"></i></a>
        <a href="https://www.instagram.com/vishal_cymk/" target="_blank" class="instagram"><i class="bx bxl-instagram"></i></a>
        <a href="https://github.com/VishalChandru" target="_blank" class="google-plus"><i class='bx bxl-github'></i></a>
        <a href="https://linkedin.com/in/vishal-chandru-952a62182" target="_blank" class="linkedin"><i class="bx bxl-linkedin"></i></a>
      </div>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>About</h2>
          <p></p>
        </div>

        <div class="row">
          <div class="col-lg-4">
            <img src="/Users/vishalchandru/Desktop/DATA SCIENCE/Flask Project/Private Project/MyResume/static/img/profile-im.jpg" class="img-fluid" alt="">
          </div>
          <div class="col-lg-8 pt-4 pt-lg-0 content">
            <h3>Software Engineer &amp; Aspiring Data Scientist</h3>
            <p class="fst-italic">
              I have always desired and inclined to pursue Technological Degrees ever since my childhood. My aspiration and involvement has always always motivated me to achieve a milestone in any given task. 
            </p>
            <div class="row">
              <div class="col-lg-6">
                <ul>
                  <li><i class="bi bi-chevron-right"></i> <strong>Birthday:</strong> <span>30 April 1998</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Email:</strong> <span>vishalchandru3004@gmail.com</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Phone:</strong> <span>+91 7397407099</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>City:</strong> <span>Chennai, India</span></li>
                </ul>
              </div>
              <div class="col-lg-6">
                <ul>
                  <li><i class="bi bi-chevron-right"></i> <strong>Age:</strong> <span>23</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Degree:</strong> <span>Bachelors of Engineering</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Specialisation:</strong> <span>Mechatronics</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Hobby:</strong> <span>Books, Movies, Travelling</span></li>
                </ul>
              </div>
            </div>
            <p>
            I have completed my engineering (B.E.) background in the field of Mechatronics which is an amalgamation of all my interests. Further, my hunger for knowledge has not sufficed. Therefore, I am aspiring to move towards Artificial Intelligence - Data Science, which I believe could help me grow more and create a lifestyle, that I am eager to achieve.
            </p>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Objective Section ======= -->
    <section id="objective" class="objective">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Career Objective</h2>
          <p><i class='bx bxs-quote-alt-left' style="font-size:30px"></i> &nbsp;&nbsp; To give my career a solid start by joining an eminent and a professionally commendable organization, besides contributing to the success of the company with outstanding performances and prowess skillsets, thereby advancing my career with recognition and perception to create a better lifestyle was always a motive and a prominent aspects of my goal   &nbsp;&nbsp;  <i class='bx bxs-quote-alt-right' style="font-size:30px"></i></p>
        </div>

        
    </section><!-- End objective Section -->

    <!-- ======= Qualification Section ======= -->
    <section id="qualification" class="qualification">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Qualification</h2>
          <p>With a great integrity and professional involvement, I wanted to choose a career that fits my personality by first selecting my field of study.</p>
        </div>

        <div class="row">
          <div class="col-lg-6">
            <h3 class="resume-title">Education Background</h3>
            <div class="resume-item">
              <h4>Bachelor of Engineering ; Mechatronics</h4>
              <h5>2016 - 2020</h5>
              <p><em>Rajalakshmi Engineering College, Chennai, India</em></p>
              <p>I decided to pursue Bachelor in Mechatronics, which was an amalgamation of all my interests, and it's a field that predominantly enriches and revolutionizes technology.</p>
            </div>
            <div class="resume-item">
              <h4>CBSE Higher Secondary School - 12th</h4>
              <h5>2015 - 2016</h5>
              <p><em>Chimaya Vidyalaya, Kilpauk, Chennai</em></p>
              <p>I chose Computer Science as my group, and excelled in all the subjects with distinction. </p>
            </div>
            <div class="resume-item">
              <h4>CBSE Secondary School - 10th</h4>
              <h5>2013 - 2014</h5>
              <p><em>Chimaya Vidyalaya, Kilpauk, Chennai</em></p>
              <p>I secured top of the class in my 10th exam conducted by the CBSE</p>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Qualification Section -->

    <!-- ======= Experience Section ======= -->
    <section id="experience" class="experience">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Experience</h2>
          <p>In intent to create a more robust coding background and utilize this enhanced skill in Data Science in the imminent future, I am functioning as a full-time employee at an Information Technology sector</p>
        </div>

        <div class="row">
          <div class="col-lg-6">

            <h3 class="resume-title">Professional Experience</h3>
            <div class="resume-item">
              <h4>Software Engineer</h4>
              <h5>2021 - Present</h5>
              <p><em>Larsen &amp; Toubro Infotech, Chennai, India</em></p>
              <ul>
                <li>Currently working as a full-time employee at a MNC in India</li>
                <li>Am involved in building and testing web applications for the international clients of LTI</li>
                <li>Working in 2 projects in the tenure as employee - Mercer Mobility Management Platform & Mercer Comptryx Dashboard</li>
                <li><b>Environment:</b> Core JAVA, JAVASCRIPT, PL/SQL, HTML, Cloud Deployment, Cypress, WebDriverIO.</li>
              </ul>
            </div>
            <div class="resume-item">
              <h4>Student Intern</h4>
              <h5>2021 - Present</h5>
              <p><em>Innomatics Research Labs, Hyderabad, India</em></p>
              <ul>
                <li>Currently working as a part-time trainee in Data Science, issued by IBM at a start-up in India</li>
                <li>My challenge involved in learning and building Machine Learning & Neural Network models, to solve real-time industry level problems, by mining, cleaning, organizing and processing the data.</li>
                <li>Working in real-time projects - Exploraory Data Analysis on Real Estate, Web Development using Flask, Data Visualizations</li>
                <li><b>Environment:</b> Python, Flask, SQL, Statistics, Machine Learning, Deep Learning</li>
              </ul>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Experience Section -->

    <!-- ======= Project Section ======= -->
    <section id="projects" class="projects">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Projects</h2>
          <p>During the Course of my bachelor study, I had created projects in Image Classification and Image Recognition. Also many projects on Web Developments using Servlets, JSP and also worked on Databases such as PL/SQL, SQL, MongoDB. </p>
        </div>

        <div class="row">
          <div class="col-lg-6">

            <h3 class="resume-title">Notable Projects</h3>
            <div class="resume-item">
              <h4>Application of Deep Learning in Gesture Recognition in Automated Car Parking</h4>
              <h5>2019 - 2020</h5>
              <p><em>Final Year Project</em></p>
              <ul>
                <li>Goal of the project is to effectively recognize Gestures of the driver, to navigate the rover (prototype) in and out of the garage, by the use of Deep Learning - Convolution Neural Networks.</li>
                <li>My task was to learn and apply Convolution Neural Networks, to recognize gestures of the owner to automate the parking of a car into garage, in order to solve the parking trouble of driver population. It was my responsibility to lead the team of four, with similar interests, in achieving the goal of the project.</li>
                <li>Used ESPWifi Module and Arduino UNO, to wirelessly transfer the result of the gesture recognition to the system attached to the prototype, to respectively move the rover in the desired direction.</li>
                <li><b>Environment:</b> Python, Deep Learning Model, Arduino UNO, ESPWifi, Classification models, Web Development.</li>
              </ul>
            </div>
            <div class="resume-item">
              <h4>Biometric Face Recognition Security System</h4>
              <h5>2019 - 2020</h5>
              <p><em>National Conference In Computer Engineering</em></p>
              <ul>
                <li>Goal of a project is to design and fabricate an effectively secure safe, which uses Face Recognition models by the use of Machine Learning and Open CV tools to identify the owner to unlock the prototype (safe).</li>
                <li>Finished the literature survey phase of the project, studied various state of the art methodologies that can be employed to design efficient, and affordable safe and use emerging technologies such as Machine Learning to scale down the cost of expensive cameras.</li>
                <li>Used Arduino to transfer data from PC to the safe, thereby creating a seamless buffer-free environment for the system to do its mechanical task of locking and unlocking.</li>
                <li><b>Environment:</b> Python, OpenCV, Arduino UNO, Tensor Flow, Image Classification and Image Recognition models.</li>
              </ul>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Projects Section -->

    <!-- ======= Responsibility Section ======= -->
    <section id="responsibility" class="responsibility">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Responsibility</h2>
        </div>

        <div class="row">
          <div class="col-lg-6">

            <h3 class="resume-title">Position of Responsibility</h3>
            <div class="resume-item">
              <h4>Representative of Council of Students for MechatrOnics</h4>
              <h5>2018 - 2020</h5>
              <p><em>COSMO, Rajalakshmi Engineering College, Thandalam, India</em></p>
            </div>
            <div class="resume-item">
              <h4>Volunteer at ENACTUS</h4>
              <h5>2018 - 2020</h5>
              <p><em>Entrepreneurship-Cell, Rajalakshmi Engineering College, Thandalam, India
              </em></p>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Projects Section -->


    <!-- ======= Skills Section ======= -->
    <section id="skills" class="skills section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Skills</h2>
          </div>

        <div class="row skills-content">

          <div class="col-lg-6">

            <div class="progress">
              <span class="skill">HTML <i class="val">100%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">CSS <i class="val">90%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">JavaScript <i class="val">70%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

          </div>

          <div class="col-lg-6">

            <div class="progress">
              <span class="skill">Python <i class="val">80%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">JAVA <i class="val">90%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">SQL <i class="val">75%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

          </div>

        </div>

      </div>
    </section><!-- End Skills Section -->


    <!-- ======= Contact Section ======= -->
    <section id="download" class="download">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Download</h2>
        </div>
        <div class="row">
            <div class="col-lg-6">
              <div><a href="/Users/vishalchandru/Desktop/DATA SCIENCE/Flask Project/Private Project/MyResume/static/doc/Vishal_Chandru_Resume.pdf" download="Vishal_Resume"><button type="submit" style="margin-left: 75%;">Download</button></a></div>
            </div>
            <div class="col-lg-6">
              <div><button id="myBtn" type="submit">Scan QR</button></div>
            </div>
        </div>
      </div>

      <div id="myModal" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
          <img src="/Users/vishalchandru/Desktop/DATA SCIENCE/Flask Project/Private Project/MyResume/static/img/qrcode.png" alt="qrcode" height="150px" width="150px">
        </div>
      </div>

    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <br>
  <br>
  <br>

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <h3>Vishal Chandru</h3>
      <p>Aspiring Data Scientist</p>
      <div class="social-links">
        <a href="https://twitter.com/vi_shal_do_it" target="_blank" class="twitter"><i class="bx bxl-twitter"></i></a>
        <a href="https://www.facebook.com/vishal.chandru.3" target="_blank" class="facebook"><i class="bx bxl-facebook"></i></a>
        <a href="https://www.instagram.com/vishal_cymk/" target="_blank" class="instagram"><i class="bx bxl-instagram"></i></a>
        <a href="https://github.com/VishalChandru" target="_blank" class="google-plus"><i class='bx bxl-github'></i></a>
        <a href="https://linkedin.com/in/vishal-chandru-952a62182" target="_blank" class="linkedin"><i class="bx bxl-linkedin"></i></a>
      </div>
      <div class="copyright">
        &copy; Copyright <strong><span>MyResume</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        Designed by <a href="https://linkedin.com/in/vishal-chandru-952a62182">Vishal Chandru</a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- JS Files -->
  <script src="/Users/vishalchandru/Desktop/DATA SCIENCE/Flask Project/Private Project/MyResume/static/js/purecounter.js"></script>
  <script src="/Users/vishalchandru/Desktop/DATA SCIENCE/Flask Project/Private Project/MyResume/static/js/aos.js"></script>
  <script src="/Users/vishalchandru/Desktop/DATA SCIENCE/Flask Project/Private Project/MyResume/static/js/bootstrap.bundle.js"></script>
  <script src="/Users/vishalchandru/Desktop/DATA SCIENCE/Flask Project/Private Project/MyResume/static/js/typed.js"></script>
  <script src="/Users/vishalchandru/Desktop/DATA SCIENCE/Flask Project/Private Project/MyResume/static/js/noframework.waypoints.js"></script>

  <!-- Template Main JS File -->
  <script src="/Users/vishalchandru/Desktop/DATA SCIENCE/Flask Project/Private Project/MyResume/static/js/main.js"></script>

</body>

</html>